<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

	<label>Enter Menu: </label>
		<ul>
			<li><a href="">Movies</a></li>
			<li><a href="">Softwares</a></li>
			<li><a href="">TV Series</a></li>
			<li><a href="">Games</a></li>
		</ul>

<center>
	
</center>

<center>
	<h1>Welcome to FTP Server!</h1>

	<div style="font-size: 20px;">
		<a href="/login">Login</a><br>
		<a href="/registration">Registration</a>

		<br><br>

		<form action="" method="post">
  			<u>Enter Content Request Here:</u>
  			<br><br>
  			Your Name: <input type="text" name="username">
  			<input type="submit" value="Request" name="requsestContent">
		</form>
		<br>
		<textarea rows="4" cols="50" name="comment" form="requestForm">Type Here</textarea>
	</div>
</center>
	
</body>	
</html>